@import "tailwindcss/preflight";
@tailwind utilities;

@plugin "daisyui";

body {
  /* margin: 0;
  padding: 0; */
  background-image: url("/newBg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.glassmorphism {
  background: rgba(112, 112, 112, 0.267);
  padding-inline: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
}

.login-text {
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
  color: rgb(209, 213, 219);
}

.p-2 {
  padding: 0.5rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.label-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
}

.mt-2 {
  margin-top: 0.5rem;
}

.home {
  display: flex;
  height: 450px;
  border-radius: 0.5rem;
  overflow: hidden;
  background-clip: padding-box;
  backdrop-filter: blur(10px);
}

@media (min-width: 640px) {
  .home {
    height: 450px;
  }
}

@media (min-width: 768px) {
  .home {
    height: 550px;
  }
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.gap-2 {
  gap: 0.5rem;
}

.search {
  background-color: rgb(83, 115, 153);
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.w-12 {
  width: 3rem;
}

.font-bold {
  font-weight: bold;
}

.gap-3 {
  gap: 0.75rem;
}
